.sidebar{
    height: 798px;
    width:360px;
    border: 1px solid black;
}
.content{
    margin-left: 20px;
    width: 100%;
}
.sidebarbuttons{
    margin-top: 40px;
}
.box{
    width:80%;
    /* text-align: center; */
    /*margin-left: 100px;*/
    margin-top: 144px;
    border-bottom: 1px solid black;
}